@font-face {
	font-family: 'BlockCartoon';
	src: url('../fonts/BlockCartoon.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
body,html{margin:0px;padding:0px;overflow:hidden;font-family: 'BlockCartoon'}
#backgroundMainMenu{
	background-image: url("../img/background.png");
	background-size:cover;
}

.container{
	width: 100%;
	height: 100%;
	position: absolute;
}

h1{
	margin: 0 auto;
	text-align: center;
	padding-top: 6%;
	width: 100%;
	color: white;
}

#mainMenuButtons{
	vertical-align: top;
	display: inline-grid;

}

#buttonsContainer{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#creditsPanel{
	font-family: 'BlockCartoon';
	background: url("../img/button_bg.png");
	background-size: cover;
	width: 525px;
	height: 130px;
	color: white;
}

#helpText{
	font-family: 'BlockCartoon';
	background: url("../img/help_text.png");
	background-size: cover;
	width: 525px;
	height: 130px;
	color: white;
}

#helpHead{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#helpBody{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#creditsContainer{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

.customList{
	list-style-type: none;
}

.marginTop5{
	margin-top: 5px;
}

#programmers{
	padding-top: 10px;
	padding-left: 10px;
}

#backgroundCanvas{
	background-image: url("../img/background.png");
	background-size:cover;
}

#puntuacion{
	position:absolute;
	top:0px;
	right:0px;
	background:black;
	color:white;
	font-family:sans-serif;
	font-size:72px
}
.control{width:300px;height:300px;opacity:0.5;position:absolute;}
.canvas-container{
	width: 100%;
	height: 100%;
  }
  button {
	margin-top: 10px;
	width: 200px;
	height: 50px;
	font-family: 'BlockCartoon';
	background: url("../img/button_bg.png");
	background-size: cover;
	border: none;
	color: white;
  }
  canvas{
	  border:1px solid black;
	  background:transparent;
	  position: absolute;
  }

#puntuacionGameOver{
	font-family: 'BlockCartoon';
	color: white;
}

#gameOver, #gameOverBackground{
	height: 100%;
	 width: 100%; 
	overflow: hidden ;
}