@font-face {
	font-family: 'BlockCartoon';
	src: url('../fonts/BlockCartoon.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
body,html{margin:0px;padding:0px;overflow:hidden;font-family: 'BlockCartoon'}
#backgroundMainMenu{
	background-image: url("../img/background.png");
	background-size:cover;
}

#topCanvas{
	font-family: 'BlockCartoon';
	background: url("../img/button_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 50px;
	width: 100%;
	color: white;	
}

.container{
	width: 100%;
	height: 100%;
	position: absolute;
}

h1{
	margin: 0 auto;
	text-align: center;
	padding-top: 6%;
	width: 100%;
	color: white;
}

#mainMenuButtons{
	vertical-align: top;
	display: inline-grid;

}

#buttonsContainer{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#creditsPanel{
	font-family: 'BlockCartoon';
	background: url("../img/button_bg.png");
	background-size: cover;
	width: 525px;
	height: 130px;
	color: white;
}

#helpText{
	font-family: 'BlockCartoon';
	background: url("../img/help_text.png");
	background-size: cover;
	width: 525px;
	height: 130px;
	color: white;
}

.helpHead{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

.helpBody{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#creditsContainer{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

.customList{
	list-style-type: none;
}

.marginTop5{
	margin-top: 5px;
}

#programmers{
	padding-top: 10px;
	padding-left: 10px;
}

#backgroundCanvas{
	background-image: url("../img/background.png");
	background-size:cover;
}

.control{width:300px;height:300px;opacity:0.5;position:absolute;}
.canvas-container{
	width: 100%;
	height: 100%;
  }
  button {
	margin-top: 10px;
	width: 200px;
	height: 50px;
	font-family: 'BlockCartoon';
	background: url("../img/button_bg.png");
	background-size: cover;
	border: none;
	color: white;
  }
  canvas{
	  border:1px solid black;
	  background:transparent;
	  position: absolute;
  }

#puntuacionGameOver{
	font-family: 'BlockCartoon';
	color: white;
}

#gameOver, #gameOverBackground{
	height: 100%;
	 width: 100%; 
	overflow: hidden ;
}

.helpText{
	display: table;
    margin: 0 auto;
	margin-top: 5%;
	background: url("../img/help_text.png");
	background-size: cover;
	color: white;
	height: 147px;
}

.alignCenter{
	text-align: center;
}

.marginHelp{
	margin: 13px;
}

#helpIcon{
	background: url("../img/help_icon.png");
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
}

#puntuaciones{
	position: absolute;
	text-align: center;
	color:white;
	display: inline-flex;
	width: 100%;	
	height: 25px;
	background: url("../img/help_text.png");
	background-size: cover;
}

.separador{
	width: 33%;
}