@font-face {
	font-family: 'SpicyRice';
	src: url('../fonts/SpicyRice-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
body,html{margin:0px;padding:0px;overflow:hidden;font-family: 'SpicyRice'}
#backgroundMainMenu{
	background-image: url("../img/background.png");
	background-size:cover;
}

#topCanvas{
	font-family: 'SpicyRice';
	background: url("../img/button_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 50px;
	width: 100%;
	color: white;	
}

.container{
	width: 100%;
	height: 100%;
	position: absolute;
}

h1{
	margin: 0 auto;
	text-align: center;
	padding-top: 6%;
	width: 100%;
	color: white;
}

#mainMenuButtons{
	display: inline-grid;
	width: 100%;
}

#buttonsContainer{
	width: 50%;
    margin: 0 auto;
}

#creditsPanel,#scoresPanel{
	font-family: 'SpicyRice';
	background: url("../img/button_bg.png");
	background-size: cover;
	width: 100%;
	height: 600px;
	color: white;
	font-size: 35px;
}

#helpText{
	font-family: 'SpicyRice';
	background: url("../img/help_text.png");
	background-size: cover;
	width: 525px;
	height: 130px;
	color: white;
}

.helpHead{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

.helpBody{
	display: table;
	margin: 0 auto;
	margin-top: 5%;
}

#creditsContainer,#scoresContainer{
	width: 50%;
    margin: 0 auto;
}

.customList{
	list-style-type: none;
}

.marginTop5{
	margin-top: 5px;
}

#programmers{
	padding-top: 10px;
	padding-left: 10px;
}

#backgroundCanvas{
	background-image: url("../img/background.png");
	background-size:cover;
}

.control{width:300px;height:300px;opacity:0.5;position:absolute;}
.canvas-container{
	width: 100%;
	height: 100%;
  }
  button {
	margin-top: 30px;
	height: 200px;
	font-family: 'SpicyRice';
	font-size: 40px;
	background: url("../img/button_bg.png");
	background-size: cover;
	border: none;
	color: white;
	width: 100%;
  }
  canvas{
	  border:1px solid black;
	  background:transparent;
	  position: absolute;
  }

#puntuacionGameOver{
	font-family: 'SpicyRice';
	color: white;
	font-size: 35px;
	margin-top: 40%;
}

#gameOver, #gameOverBackground{
	height: 100%;
	 width: 100%; 
	overflow: hidden ;
}

.helpText{
	width: 50%;
    margin: 0 auto;
	margin-top: 50%;
	background: url("../img/help_text.png");
	background-size: cover;
	color: white;
	height: 375px;
	font-size: 35px;
}

.alignCenter{
	text-align: center;
}

.marginHelp{
	margin: 13px;
}

#helpIcon{
	background: url("../img/help_icon.png");
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 10;
}

#puntuaciones{
	position: absolute;
	text-align: center;
	color:white;
	display: inline-flex;
	width: 100%;	
	height: 40px;
	background: url("../img/help_text.png");
	background-size: cover;
	padding-top: 10px;
	font-size: 30px;
}

#theHand{
	position: absolute;
	opacity:0;
}

#theHandSplash{
	position: absolute;
	opacity:0;
}

.handCooldown{
	-webkit-animation:handCooldown 1s;
}
@-webkit-keyframes handCooldown{
	0%{opacity:1;}
	50%{opacity:1;}
	100%{opacity:0;}
}

.separador{
	width: 33%;
}

#title{
	font-size: 400%;
	margin-top: 10%;
}

.creditList{
	margin-top:20px;
}

.helpDescription{
	margin:13px;
	font-size: 30px;
}